@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

a:link, a:visited, a:active {
  text-decoration:none;
  color: #333;
}

/*HEADER*/

.header{
  height: 6vh;
  position: fixed;
  top: 0px;
  border-bottom: 2px solid black;
  background-color: #dddddd;
  display: flex;
  align-items: center;
}

.header__logo{
  font-family: 'Press Start 2P', cursive;
  flex: 0;
  padding-left: 2%;
  color: #333;
  text-shadow: 2px 2px white;
  cursor: pointer;
}

.header__menu ul{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  color: #333;
  text-shadow: 1px 1px white;
  flex: 1;
  margin-left: 1%;
  cursor: pointer;
  display: flex;
  list-style: none;
  height: 6vh;
  align-items: center;
}

.header__menu li{
  width: auto;
  margin: 0 1%;
  height: 100%;
  padding-top: 1.7vh;
}

.header__menu__background{
  position: relative;
}

/*DESPLEGABLE*/

.header__menu__background__desplegable{
  position: absolute;
  left: 0;
  top: 6.1vh;

  width: 260px !important;
  height: 260px !important;

  background-color: #dddddd;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  display: none !important;
  align-items: center;
}

.header__menu__background__desplegable li{
  width: auto;
}

.header__menu__background:hover > ul{
  display: flex !important;
  flex-direction: column;
}

.header__menu__background__desplegable__colors div{
  width: 260px !important;
  height: 40px !important;
}

.color1{background-color: #FF71CE;}

.color2{background-color: #01CDFE;}

.color3{background-color: #05FFA1;}

.color4{background-color: #B967FF;}

.header__menu__background__desplegable__random{
  margin-top: 5px !important;
}

/*SOCIALS*/

.header__social{
  flex: 0;
  display: flex;
  margin-right: 2.5%;
}

.header__social a{
  width: auto;
  margin: 0 10%;
}

.header__social a svg{
  width: 30px;
}

/*CLOCK*/

#clock{
  flex: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  text-shadow: 1px 1px white;
  margin-right: 2.5%;
}

/*CONTENT*/

.content{
  width: 100%;
  margin-top: 6vh;
  display: flex;
}

.content__section{
  margin-left: 17.5%;
  width: 82.5%;
  height: 80vh;
  display: flex;
  align-items: center;
}

/*INDEX*/

.content__section__index h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 4em;
  color: #333;
  text-shadow: 4px 4px white;
  padding-right: 2%;
}

.content__section__index p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  text-shadow: 1px 1px white;
  margin-top: 30px;
  padding-right: 10%;
}

/*ACCOUNTS*/

.content__section__account{
  border: 4px solid black;
  margin-right: 5%;
  height: 480px;
}

.content__section__account__header{
  font-family: 'Press Start 2P', cursive;
  border-bottom: 2px solid black;
  background-color: #dddddd;
  height: 8.5%; /*??*/
  display: flex;
  align-items: center;
}

.content__section__account__header h3{
  flex: 1;
  padding-left: 2%;
}

.content__section__account__header span{
  flex: 0;
  padding-right: 2%;
  cursor: pointer;
}

.content__section__account__content{
  border-top: 2px solid black;
  background-color: #fff;
  height: 91.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5%;
}

/*GAMES*/

.content__section__games{
  border: 4px solid black;
  margin-right: 5%;
  height: 480px;
}

.content__section__games__header{
  font-family: 'Press Start 2P', cursive;
  border-bottom: 2px solid black;
  background-color: #dddddd;
  height: 8.5%; /*??*/
  display: flex;
  align-items: center;
}

.content__section__games__header h3{
  flex: 1;
  padding-left: 2%;
}

.content__section__games__header span{
  flex: 0;
  padding-right: 2%;
  cursor: pointer;
}

.content__section__games__content{
  border-top: 2px solid black;
  background-color: #fff;
  height: 91.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5%;
}

/*REGISTER/LOGIN*/

label{
  font-family: 'Press Start 2P', cursive;
  color: #333;
}

input{
  font-family: 'Courier New', Courier, monospace;
}


.fieldset{
  border: 0px;
}

.legend{
  display: none;
}

.content__section__account{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__section__account__content h4{
  font-family: 'Press Start 2P', cursive;
  height: 30px;
}

.registerForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerForm input,
.registerForm label{
  margin-bottom: 10px;
}

.logInForm input,
.logInForm label{
  margin-bottom: 10px;
}

.registerBtn,
.logInFormBtn {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  border: 4px solid red;
  border-radius: 30px;
  padding: 5px 10px;
  cursor: pointer;
  width: auto;
  color: #333;
}

.logInFormBtn {
  height: 30px;
  margin-top: -15px;
}


.logOutFormBtn{
  margin-bottom: 60px;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  border: 4px solid red;
  border-radius: 30px;
  padding: 5px 10px;
  cursor: pointer;
  width: auto;
  height: 30px;
  color: #333;
}

/*---GAME en LIST---*/

.game{
  flex-basis: 40%;
  min-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.game__logo{
  width: 75px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game h4{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  width: auto;
  margin-top: 10px;
}

.game p{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
}

/*DETAIL*/

.gameDetail{
  border-top: 2px solid black;
  background-color: #fff;
  height: 91.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5%;
}

.gameDetail__image{
  max-height: 50%;
  width: auto;
  overflow: hidden;
}

.gameDetail__image img{
  height: 100%;
  max-width: 100%;
}

/*
.spaceInvaders .gameDetail__image img{ 
  max-width: 320px;
}
*/

.gameDetail__info h4{
  font-family: 'Press Start 2P', cursive;
  padding: 0px 10px;
  margin-bottom: 15px;
}

.gameDetail__info__back{
  color: red;
  cursor: pointer;
}

.gameDetail__info p{
  font-family: 'Courier New', Courier, monospace;
  padding: 0px 10px;
  margin-bottom: 15px;
}

.gameDetail__info p span{
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  vertical-align: middle;
}

.gameDetail__info a{
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  border: 4px solid red;
  border-radius: 30px;
  padding: 5px 10px;
  background-color: #eee;
}

/*ABOUT*/

.content__section__about{
  border: 4px solid black;
  margin-right: 5%;
  height: 480px;
}

.content__section__about__header{
  font-family: 'Press Start 2P', cursive;
  border-bottom: 2px solid black;
  background-color: #dddddd;
  height: 8.5%; /*??*/
  display: flex;
  align-items: center;
}

.content__section__about__header h3{
  flex: 1;
  padding-left: 2%;
}

.content__section__about__header span{
  flex: 0;
  padding-right: 2%;
  cursor: pointer;
}

.content__section__about__content{
  padding: 5%;
  border-top: 2px solid black;
  background-color: #fff;
  height: 91.5%; /*ARREGLAR TAMAÑOS !!!*/
}

.content__section__about__content h3{
  font-family: 'Press Start 2P', cursive;
  font-size: 17px;
  padding-bottom: 3.5%;
}

.content__section__about__content p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

/*SIMON SAYS*/

.content__section__simonSays{
  border: 4px solid black;
  margin-right: 5%;
  height: 480px;
  background-color: white;
  position: relative;
}

.content__section__simonSays__header{
  font-family: 'Press Start 2P', cursive;
  border-bottom: 2px solid black;
  background-color: #dddddd;
  height: 8.5%;
  display: flex;
  align-items: center;
}

.content__section__simonSays__header h3{
  flex: 1;
  padding-left: 2%;
}

.content__section__simonSays__header span{
  flex: 0;
  padding-right: 2%;
  cursor: pointer;
}

.content__section__simonSays__game{
  border-top: 2px solid black;
  border-bottom: 4px solid black;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
}

.simonSays__square{
  flex-basis: 50%;
  height: 50%;
  cursor: pointer;
}

.ss__green{
  background-color: green;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.ss__red{
  background-color: red;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.ss__yellow{
  background-color: yellow;
  border-right: 2px solid black;
  border-top: 2px solid black;
}

.ss__blue{
  background-color: blue;
  border-left: 2px solid black;
  border-top: 2px solid black;
}

.content__section__simonSays__button{
  height: 11.5%;
  display: flex;
  text-align: center;
  align-items: center;
}

#start{
  font-family: 'Press Start 2P', cursive;
  background-color: white;
  border: none;
  width: auto;
  cursor: pointer;
  flex: 1;
}

#score{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  flex: 0;
  margin-right: 2%;
}

/*NAV*/

.content__nav{
  width: 10%;
  text-align: center;
  margin-top: 35px;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 2%;
  margin-left: 5%;
}

.content__nav__item{
  margin-bottom: 20px;
  cursor: pointer;
}

.content__nav__item__img img{
  width: 50px;
}

.content__nav__item__text{
  background-color: #ffffff40;
}

/*FOOTER*/

.footer{
  height: 14vh;
  width: 100%;
}

.pacman{
  height: 14vh;
  overflow: hidden;
  padding-top: 1.5%;
  margin-left: 27.5%;
  width: 45%;
}

.pacman-top{
  background-color:yellow;
  height:30px;
  width:60px;
  border-radius:100px 100px 0 0;
  animation: spin1 0.5s infinite linear;
}

.pacman-bottom{
  background-color:yellow;
  height:30px;
  width:60px;
  border-radius:0 0 100px 100px;
  animation: spin2 0.5s infinite linear;
}

.feed {
  margin-top: -100px;
  margin-left:15px;
  width: 15px;
  height: 15px;
  border-radius: 90%;

  -moz-animation: eat 1s linear 0s infinite;
  -webkit-animation: eat 1s linear 0s infinite;

  animation: eat 1s linear 0s infinite;
}   

/*Animation PACMAN*/

@keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@-moz-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@-moz-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@-webkit-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@-webkit-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@keyframes eat {
	0% { box-shadow: 
      100px 65px 0 0 white, 
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white,
      900px 65px 0 0 white, 
      1100px 65px 0 0 white, 
      1300px 65px 0 0 white;}
  
100% { box-shadow: 
      0px 65px 0 0 white, 
      100px 65px 0 0 white,
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white, 
      900px 65px 0 0 white, 
      1100px 65px 0 0 white;}
}


@-moz-keyframes eat {
	0% { box-shadow: 
      100px 65px 0 0 white, 
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white,
      900px 65px 0 0 white, 
      1100px 65px 0 0 white, 
      1300px 65px 0 0 white;}
  
100% { box-shadow: 
      0px 65px 0 0 white, 
      100px 65px 0 0 white,
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white, 
      900px 65px 0 0 white, 
      1100px 65px 0 0 white;}
}

@-webkit-keyframes eat {
	0% { box-shadow: 
      100px 65px 0 0 white, 
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white,
      900px 65px 0 0 white, 
      1100px 65px 0 0 white, 
      1300px 65px 0 0 white;}
  
100% { box-shadow: 
      0px 65px 0 0 white, 
      100px 65px 0 0 white,
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white, 
      900px 65px 0 0 white, 
      1100px 65px 0 0 white;}
}

/*HIDDEN*/

.hidden{
  display: none;
}

/**/

.selected span{
  color: white;
  background-color: #0000ff;
}